datageneration/smpl_data/*.fbx
datageneration/smpl_data/*.npy
datageneration/smpl_data/*.npz
datageneration/smpl_data/textures
datageneration/smpl_data/
datageneration/config
training/models/*.t7
*~
*.py[cod]
pycache/
*.oso
out/
tmp/
blender-2.78a-linux-glibc211-x86_64/
.vscode/
tmp_detangle/
detangle_dataset/
get-pip.py